smartlink/registro-waba.json
[
    {
        "id": "190488e78a421ea1",
        "type": "tab",
        "label": "WABA - Registrar WhatsApp",
        "disabled": false,
        "extensionId": "cdf1337d-f558-48ff-b325-543e0c90d007"
    },
    {
        "id": "a1bbf60c05b3df12",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Validar Entrada",
        "func": "if (!msg.payload?.CD_ESTABELECIMENTO) {\n    return [null, null, null, null, null, msg];\n}\nmsg.CD_ESTABELECIMENTO = msg.payload.CD_ESTABELECIMENTO;\nreturn [msg, null, null, null, null, null];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "bf2f2ec34aac3ff5"
            ],
            [],
            [],
            [],
            [],
            [
                "d7ca7c77a73aaa7f"
            ]
        ]
    },
    {
        "id": "bf2f2ec34aac3ff5",
        "type": "sql builder",
        "z": "190488e78a421ea1",
        "parameters": [
            {
                "variable": "CD_ESTABELECIMENTO",
                "value": "CD_ESTABELECIMENTO",
                "type": "msg"
            }
        ],
        "name": "Buscar Configuração",
        "template": "SELECT NR_SEQUENCIA, ACCESS_TOKEN, PHONE_NUMBER_ID, VERIFICATION_CODE\nFROM CMDKRLS_LUIS_CONFIGURACOES\nWHERE CD_ESTABELECIMENTO = :CD_ESTABELECIMENTO",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "531516e9dee1f4ce"
            ]
        ]
    },
    {
        "id": "531516e9dee1f4ce",
        "type": "tasy data access",
        "z": "190488e78a421ea1",
        "name": "Oracle Select",
        "x": 900,
        "y": 120,
        "wires": [
            [
                "2ea958cba45460f3"
            ]
        ]
    },
    {
        "id": "2ea958cba45460f3",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Montar Request Meta",
        "func": "const row = msg.payload?.select?.[0]?.resultSet?.[0];\n\nif (!row) {\n    return [null, null, null, null, null, msg];\n}\n\nmsg.NR_SEQUENCIA = row.NR_SEQUENCIA;\nmsg.method = 'POST';\nmsg.url = `https://graph.facebook.com/v24.0/${row.PHONE_NUMBER_ID}/register`;\nmsg.headers = {\n  Authorization: `Bearer ${row.ACCESS_TOKEN}`,\n  'Content-Type': 'application/json'\n};\nmsg.payload = {\n  messaging_product: 'whatsapp',\n  verification_method: 'manual',\n  pin: row.VERIFICATION_CODE\n};\n\nreturn [msg, null, null, null, null, null];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 120,
        "wires": [
            [
                "f72fb69bef2c09f5"
            ],
            [],
            [],
            [],
            [],
            [
                "d7ca7c77a73aaa7f"
            ]
        ]
    },
    {
        "id": "f72fb69bef2c09f5",
        "type": "http request",
        "z": "190488e78a421ea1",
        "name": "Meta API",
        "method": "use",
        "ret": "obj",
        "x": 1440,
        "y": 120,
        "wires": [
            [
                "521519030db7025b"
            ]
        ]
    },
    {
        "id": "521519030db7025b",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Classificar Resultado",
        "func": "const err = msg.payload?.error;\n\nif (!err) return [msg, null, null, null, null, null];\n\nif (err.code === 190 && err.error_subcode === 463)\n  return [null, msg, null, null, null, null];\n\nif (err.code === 133005)\n  return [null, null, msg, null, null, null];\n\nif (err.code === 190)\n  return [null, null, null, msg, null, null];\n\nif (err.code === 133016)\n  return [null, null, null, null, msg, null];\n\nreturn [null, null, null, null, null, msg];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 120,
        "wires": [
            [
                "76165250852cd563"
            ],
            [
                "9449c3f98f90f8c4"
            ],
            [
                "94f3c2c88e56ee6b"
            ],
            [
                "d1aace2deeb3a4dd"
            ],
            [
                "fa66e36777117c65"
            ],
            [
                "d7ca7c77a73aaa7f"
            ]
        ]
    },
    {
        "id": "76165250852cd563",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Validar Success",
        "func": "if (msg.payload?.success === true) return msg;\nreturn null;",
        "outputs": 1,
        "x": 1880,
        "y": 40,
        "wires": [
            [
                "86b8b4839fa174c5"
            ]
        ]
    },
    {
        "id": "86b8b4839fa174c5",
        "type": "sql builder",
        "z": "190488e78a421ea1",
        "parameters": [
            {
                "variable": "NR_SEQUENCIA",
                "value": "NR_SEQUENCIA",
                "type": "msg"
            }
        ],
        "name": "Atualizar Status",
        "fieldType": "msg",
        "template": "UPDATE CMDKRLS_LUIS_CONFIGURACOES\nSET STATUS = 'REGISTRADO'\nWHERE NR_SEQUENCIA = :NR_SEQUENCIA",
        "x": 2100,
        "y": 40,
        "wires": [
            [
                "e0198767d1313570"
            ]
        ]
    },
    {
        "id": "e0198767d1313570",
        "type": "tasy data access",
        "z": "190488e78a421ea1",
        "name": "Oracle Update",
        "x": 2320,
        "y": 40,
        "wires": [
            [
                "0e5d99227be9a41d"
            ]
        ]
    },
    {
        "id": "0e5d99227be9a41d",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Sucesso",
        "title": "WhatsApp Registrado",
        "response": "Número registrado com sucesso no WhatsApp Business.",
        "responseType": "Information",
        "x": 2540,
        "y": 40,
        "wires": []
    },
    {
        "id": "9449c3f98f90f8c4",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Token Expirado",
        "title": "Token Expirado",
        "response": "O token de acesso expirou. Gere um novo token no Business Manager.",
        "responseType": "Warning",
        "x": 1980,
        "y": 100,
        "wires": []
    },
    {
        "id": "94f3c2c88e56ee6b",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro PIN Incorreto",
        "title": "PIN Incorreto",
        "response": "O PIN informado está incorreto.",
        "responseType": "Warning",
        "x": 1980,
        "y": 160,
        "wires": []
    },
    {
        "id": "d1aace2deeb3a4dd",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Token Inválido",
        "title": "Token Inválido",
        "response": "O token informado é inválido.",
        "responseType": "Warning",
        "x": 1980,
        "y": 220,
        "wires": []
    },
    {
        "id": "fa66e36777117c65",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Muitas Tentativas",
        "title": "Muitas tentativas de registro",
        "response": "Foram realizadas muitas tentativas de registro para este número em um curto período. Aguarde e tente novamente mais tarde.",
        "responseType": "Warning",
        "x": 2000,
        "y": 260,
        "wires": []
    },
    {
        "id": "d7ca7c77a73aaa7f",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Genérico",
        "title": "Erro no Registro",
        "response": "Não foi possível registrar o número no WhatsApp.",
        "responseType": "Warning",
        "x": 1980,
        "y": 320,
        "wires": []
    },
    {
        "id": "75c5ee247d20ff89",
        "type": "SchematicsDX Integration",
        "z": "190488e78a421ea1",
        "name": "Registrar",
        "actionId": "registrarteste",
        "url": "/cdf1337d-f558-48ff-b325-543e0c90d007/schematics-dx/registrarteste",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "actionParameters": [
            "CD_ESTABELECIMENTO",
            "NM_USUARIO_P"
        ],
        "x": 80,
        "y": 340,
        "wires": [
            [
                "a1bbf60c05b3df12"
            ]
        ]
    }
]