smartlink/registro_waba.json
[
    {
        "id": "190488e78a421ea1",
        "type": "tab",
        "label": "Registrar Waba",
        "disabled": false,
        "info": "V1.2 - Resposta detalhada de erro e sucesso robusto",
        "dbPanelCode": "",
        "extensionId": "8693626c-a314-4db6-98bb-f364c1297ac0"
    },
    {
        "id": "a1bbf60c05b3df12",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Validar Entrada",
        "func": "const payload = msg.payload || {};\n\nif (!payload.CD_ESTABELECIMENTO || !payload.NR_SEQUENCIA) {\n    msg.errorDetail = 'Parâmetros obrigatórios não informados: CD_ESTABELECIMENTO e NR_SEQUENCIA.';\n    return [null, null, null, null, null, msg];\n}\n\nmsg.CD_ESTABELECIMENTO = payload.CD_ESTABELECIMENTO;\nmsg.NR_SEQUENCIA = payload.NR_SEQUENCIA;\nreturn [msg, null, null, null, null, null];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "bf2f2ec34aac3ff5"
            ],
            [],
            [],
            [],
            [],
            [
                "c8b7e4d2f1a96310"
            ]
        ]
    },
    {
        "id": "bf2f2ec34aac3ff5",
        "type": "sql builder",
        "z": "190488e78a421ea1",
        "parameters": [
            {
                "variable": "CD_ESTABELECIMENTO",
                "value": "CD_ESTABELECIMENTO",
                "type": "msg"
            },
            {
                "variable": "NR_SEQUENCIA",
                "value": "NR_SEQUENCIA",
                "type": "msg"
            }
        ],
        "name": "Buscar Configuração",
        "fieldType": "msg",
        "template": "SELECT NR_SEQUENCIA, ACCESS_TOKEN, PHONE_NUMBER_ID, VERIFICATION_CODE\nFROM CMDKRLS_CHAT_CONFIGURACOES\nWHERE CD_ESTABELECIMENTO = :CD_ESTABELECIMENTO\nAND NR_SEQUENCIA = :NR_SEQUENCIA",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "4bd672107d93cc20"
            ]
        ]
    },
    {
        "id": "2ea958cba45460f3",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Montar Request Meta",
        "func": "const row = msg.payload?.select?.[0]?.resultSet?.[0];\n\nif (!row) {\n    msg.errorDetail = 'Configuração não encontrada para o estabelecimento e sequência informados.';\n    return [null, null, null, null, null, msg];\n}\n\nconst accessToken = String(row.ACCESS_TOKEN || '').trim();\nconst phoneNumberId = String(row.PHONE_NUMBER_ID || '').trim();\nconst verificationCode = String(row.VERIFICATION_CODE || '').trim();\n\nif (!accessToken || !phoneNumberId || !verificationCode) {\n    msg.errorDetail = 'Configuração incompleta para registro: ACCESS_TOKEN, PHONE_NUMBER_ID e VERIFICATION_CODE são obrigatórios.';\n    return [null, null, null, null, null, msg];\n}\n\nmsg.NR_SEQUENCIA = row.NR_SEQUENCIA;\nmsg.method = 'POST';\nmsg.url = `https://graph.facebook.com/v24.0/${phoneNumberId}/register`;\nmsg.headers = {\n  Authorization: `Bearer ${accessToken}`,\n  'Content-Type': 'application/json'\n};\nmsg.payload = {\n  messaging_product: 'whatsapp',\n  verification_method: 'manual',\n  pin: verificationCode\n};\n\nreturn [msg, null, null, null, null, null];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 120,
        "wires": [
            [
                "f72fb69bef2c09f5"
            ],
            [],
            [],
            [],
            [],
            [
                "c8b7e4d2f1a96310"
            ]
        ]
    },
    {
        "id": "f72fb69bef2c09f5",
        "type": "http request",
        "z": "190488e78a421ea1",
        "name": "Meta API",
        "method": "use",
        "ret": "obj",
        "x": 1440,
        "y": 120,
        "wires": [
            [
                "521519030db7025b"
            ]
        ]
    },
    {
        "id": "521519030db7025b",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Classificar Resultado",
        "func": "const err = msg.payload?.error;\n\nif (!err) return [msg, null, null, null, null, null];\n\nif (err.code === 190 && err.error_subcode === 463)\n  return [null, msg, null, null, null, null];\n\nif (err.code === 133005)\n  return [null, null, msg, null, null, null];\n\nif (err.code === 190)\n  return [null, null, null, msg, null, null];\n\nif (err.code === 133016)\n  return [null, null, null, null, msg, null];\n\nreturn [null, null, null, null, null, msg];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 120,
        "wires": [
            [
                "76165250852cd563"
            ],
            [
                "9449c3f98f90f8c4"
            ],
            [
                "94f3c2c88e56ee6b"
            ],
            [
                "d1aace2deeb3a4dd"
            ],
            [
                "fa66e36777117c65"
            ],
            [
                "c8b7e4d2f1a96310"
            ]
        ]
    },
    {
        "id": "76165250852cd563",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Validar Success",
        "func": "const status = Number(msg.statusCode || 0);\nconst payload = msg.payload || {};\n\nif (payload?.success === true) return msg;\nif (!payload?.error && status >= 200 && status < 300) return msg;\nif (!payload?.error && !msg.statusCode) return msg;\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 40,
        "wires": [
            [
                "86b8b4839fa174c5"
            ]
        ]
    },
    {
        "id": "86b8b4839fa174c5",
        "type": "sql builder",
        "z": "190488e78a421ea1",
        "parameters": [
            {
                "variable": "NR_SEQUENCIA",
                "value": "NR_SEQUENCIA",
                "type": "msg"
            }
        ],
        "name": "Atualizar Status",
        "fieldType": "msg",
        "template": "UPDATE CMDKRLS_CHAT_CONFIGURACOES\nSET REGISTRATION_STATUS = 'Registrado'\nWHERE NR_SEQUENCIA = :NR_SEQUENCIA",
        "x": 2100,
        "y": 40,
        "wires": [
            [
                "0e9e794ae3dbc96e"
            ]
        ]
    },
    {
        "id": "0e5d99227be9a41d",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Sucesso",
        "title": "WhatsApp Registrado",
        "response": "Número registrado com sucesso no WhatsApp Business.",
        "responseType": "Information",
        "x": 2540,
        "y": 40,
        "wires": []
    },
    {
        "id": "9449c3f98f90f8c4",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Token Expirado",
        "title": "Token Expirado",
        "response": "O token de acesso expirou. Gere um novo token no Business Manager.",
        "responseType": "Warning",
        "x": 1980,
        "y": 100,
        "wires": []
    },
    {
        "id": "94f3c2c88e56ee6b",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro PIN Incorreto",
        "title": "PIN Incorreto",
        "response": "O PIN informado está incorreto.",
        "responseType": "Warning",
        "x": 1980,
        "y": 160,
        "wires": []
    },
    {
        "id": "d1aace2deeb3a4dd",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Token Inválido",
        "title": "Token Inválido",
        "response": "O token informado é inválido.",
        "responseType": "Warning",
        "x": 1980,
        "y": 220,
        "wires": []
    },
    {
        "id": "fa66e36777117c65",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Muitas Tentativas",
        "title": "Muitas tentativas de registro",
        "response": "Foram realizadas muitas tentativas de registro para este número em um curto período. Aguarde e tente novamente mais tarde.",
        "responseType": "Warning",
        "x": 2000,
        "y": 260,
        "wires": []
    },
    {
        "id": "c8b7e4d2f1a96310",
        "type": "function",
        "z": "190488e78a421ea1",
        "name": "Montar Erro Final",
        "func": "const detail = String(msg.errorDetail || '').trim();\nmsg.response = detail || 'Não foi possível registrar o número no WhatsApp. Verifique a configuração cadastrada e tente novamente.';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 320,
        "wires": [
            [
                "d7ca7c77a73aaa7f"
            ]
        ]
    },
    {
        "id": "d7ca7c77a73aaa7f",
        "type": "SchematicsDX Integration - Response",
        "z": "190488e78a421ea1",
        "name": "Erro Genérico",
        "title": "Erro no Registro",
        "response": "{{response}}",
        "responseType": "Warning",
        "x": 1980,
        "y": 320,
        "wires": []
    },
    {
        "id": "75c5ee247d20ff89",
        "type": "SchematicsDX Integration",
        "z": "190488e78a421ea1",
        "name": "Registrar",
        "actionId": "registrar-waba",
        "url": "/8693626c-a314-4db6-98bb-f364c1297ac0/schematics-dx/registrar-waba",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "actionParameters": [
            "CD_ESTABELECIMENTO",
            "NM_USUARIO_P",
            "NR_SEQUENCIA"
        ],
        "x": 80,
        "y": 340,
        "wires": [
            [
                "a1bbf60c05b3df12",
                "a4485a3b0b6956ee"
            ]
        ]
    },
    {
        "id": "a4485a3b0b6956ee",
        "type": "debug",
        "z": "190488e78a421ea1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "0e9e794ae3dbc96e",
        "type": "tasy data access",
        "z": "190488e78a421ea1",
        "name": "",
        "x": 2330,
        "y": 40,
        "wires": [
            [
                "0e5d99227be9a41d"
            ]
        ]
    },
    {
        "id": "4bd672107d93cc20",
        "type": "tasy data access",
        "z": "190488e78a421ea1",
        "name": "",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "2ea958cba45460f3"
            ]
        ]
    }
]
